{% extends 'base.html' %}
{% load static %}
 
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h3>shipping Info</h3>
        <form method = POST>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"> Place Order </button>
        </form>
    </div>
    <div class="col-lg-6">
        <h3>Order Summary</h3>
        <table class="table">
            <tbody>
            {% for it in  items %}
                <tr>
                    <td>{{ it.product.product_name }}</td>
                    <td>{{ it.product.price }}</td>
                    <td>{{ it.quantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h5>Items: {{ order.get_total_items }}</h5>
        <h5>Total Price: {{ order.get_total_cart_value }}</h5>
    </div>
</div>


{% endblock content %}
